<h1>Editing pokemon trainer</h1>

<%= render "form", pokemon_trainer: @pokemon_trainer %>

<br>

<div>
  <%= link_to "Show this pokemon trainer", @pokemon_trainer %> |
  <%= link_to "Back to pokemon trainers", pokemon_trainers_path %>
</div>
